h1{
	background-color: dodgerblue;
	text-align: center;
}

h2{
	background-color: lightblue;
	text-align: center;
}

p{
	color: navy;
	font-size: 20px;
	text-align: center;
}

p::first-line {
  color: #ff0000;
  font-variant: small-caps;
}

#hoi4{
	display: block;
	margin: auto;
}

#scpsl{
	display: block;
	margin: auto;
}